.input-remember {
    display: flex;
}

.input-remember label {
    margin-left: 0.25rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.input-wrapper label {
    font-weight: bold;
}

.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
}

.error {
    color: red;
    font-size: 0.7rem;
}

.input-wrapper[data-error]::after {
    content: attr(data-error);
    font-size: 0.8em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}
.input-wrapper[data-error-visible='true']::after {
    opacity: 1;
}
.input-wrapper[data-error-visible='true'] input {
    border: 2px solid #e54858;
}

input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
}
