.Error {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    .Error-contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        min-height: 50vh;
        &__title {
            font-size: 5rem;
        }
        &__message {
            font-size: 2rem;
        }
    }
    .Error-link {
        margin-top: 5px;
    }
}
